<%= include includes/head %>
  <body>
    <div class="container">
      <div id="search-container">
        <h1 id="headline">Covemifasol.</h1>

        <form method="post">
          <input type="search" name="search" placeholder="Fais dont une recherche mon ptit minou..." id="search-bar">
        </form>
      </div>

      <div id="results">
        <div id="artists">
          <div class="artist">
            <div class="thumbnail">
            </div>
            <div class="title">
            </div>
            <div class="description">
            </div>
          </div>
        </div>

        <div id="albums">
        </div>
      </div>
    </div>

    <% include includes/scripts %>
  </body>
</html>