<%= include includes/head %>
  <body>
    <div class="container">
      <div id="search-container">
        <h1 id="headline">Covemifasol.</h1>

        <form method="post">
          <input type="search" name="search" placeholder="Fais dont une recherche mon ptit minou..." id="search-bar">
        </form>
      </div>

      <div id="results">
        <input type="checkbox" name="type" value="Tous">
        <input type="checkbox" name="type" value="Artistes">
        <input type="checkbox" name="type" value="Albums">

        <h2>Artistes</h2>
        <div id="artists"></div>

        <h2 style="margin-top: 80px; clear: left;">Albums</h2>
        <div id="albums"></div>
      </div>
    </div>

    <% include includes/scripts %>
  </body>
</html>