<%= include includes/head %>
  <body>
    <div class="container">
      <div id="search-container">
        <h1 id="headline">Covemifasol.</h1>

        <form method="post">
          <input type="search" name="search" placeholder="Fais dont une recherche mon ptit minou..." id="search-bar">
        </form>
      </div>

      <div id="results">
        <div id="artists">
          <div class="artist">
            <img src="http://ec2-23-20-62-1.compute-1.amazonaws.com:8080/BlitzDataWebService/images/01hwmxs" class="thumbnail">
            <div class="artist-info">
              <div class="title"><strong>Artiste</strong> | Titre de l'album</div>
              <p class="description">Minou minou minou Minou minou minouMinou minou minouMinou minou minouMinou minou minouMinou minou minouMinou minou minou</p>
            </div>
          </div>
        </div>

        <div id="albums">
        </div>
      </div>
    </div>

    <% include includes/scripts %>
  </body>
</html>