body {
  background-image: url("../images/body-bg.png");
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

::-webkit-input-placeholder  {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  line-height: 1.1em;
}
input:-moz-placeholder {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.container {
  width: 900px;
}

#headline {
  text-align: center;
  font-size: 80px;
  font-family: Helvetica, Arial;
}

#search-bar {
  width: 820px;
  height: 55px;
  font-size: 30px;
  padding: 5px 15px 5px 15px;
  line-height: 1em;
  margin: 70px auto;
  display: block;
}

.thumbnail {
  margin: 0;
  float: left;
  width: 115px;
}

#results {
  display: none;
  width: 850px;
  margin: 0 auto;
}

#search-container {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#artists {
  margin: 0 auto;
  width: 850px;
}

.artist {
  overflow: auto;
  font-size: 16px;
  margin-top: 20px;
}

.artist-info {
  float: left;
  width: 570px;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 18px;
}

.title {
  font-size: 25px;
  margin-bottom: 5px;
}